@model IEnumerable<VolvoTrucks.Models.TruckModel>
@{
    ViewData["Title"] = "TruckModels";
}
<h2>TruckModels</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TruckModelID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TruckModelID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TruckModelID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
